*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  padding: 3rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 1px;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}
.title__underline {
  background: yellowgreen;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

@media screen and (min-width: 690px) {
  .pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .pictures {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.categories {
  margin: 1rem 0 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.pictures__item {
  position: relative;
  overflow: hidden;
}

.pictures__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.pictures__img:hover {
  transform: scale(1.2);
}
